<!DOCTYPE html>
<html>
<head>
  <title>Create Ad request</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='campaigns.css')}}">
</head>
<body>
  <header>
        <h1>InfluenSphere</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/sdashboard" class="nav-link">Profile</a></li>
            <li><a href="/supdate" class="nav-link">Update Profile</a></li>
            <li><a href="/campaigns" class="nav-link">Campaigns</a></li>
            <li><a href="/search" class="nav-link">Search</a></li>
            <li><a href="/ads_details" class="nav-link">Ads Status</a>
            <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
    <form method="POST">
    <label for="campaign_id">Campaign ID:</label>
    <input type="text" id="campaign_id" name="campaign_id" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>

    <label for="requirements">Requirements:</label>
    <textarea id="requirements" name="requirements" required></textarea>

    <label for="payment_amount">Payment Amount:</label>
    <input type="number" id="payment_amount" name="payment_amount" required>

    <input type="submit" value="Send Ad Request">
</form>
</body>
</html>