<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">

  <title>Influencer registration</title>
</head>
<body>
<header>
    <h1>InfluenSphere</h1>
  </header>
  <div class="login-wrap">
    <div class="login-html">

      <div class="login-form">
        <div class="sign-in-htm">
          <form method="POST">
            <div class="group">
              <label for="emails" class="label">Email</label>
              <input id="emails" type="email" class="input" name="email">
            </div>
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input" name="username">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password" name="password">
          </div>
          <div class="group">
            <label for="industry" class="label">Industry</label>
            <input id="industry" type="text" class="input" name="industry">
          </div>

            <div class="group">
            <label for="bio" class="label">Bio</label>
            <input id="bio" type="text" class="input" name="bio">
          </div>


          <div class="group">
            <input type="submit" class="button" value="Register">
          </div>
          <div class="hr"></div>

          </form>
        </div>
        </div>
    </div>
  </div>
</body>
</html>