<!DOCTYPE html>
<html>
<head>
    <title>View Campaign</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='campaigns.css')}}">
</head>
<body>
    <header>
        <h1>InfluenSphere</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/sdashboard" class="nav-link">Profile</a></li>
            <li><a href="/supdate" class="nav-link">Update Profile</a></li>
            <li><a href="/campaigns" class="nav-link">Campaigns</a></li>
            <li><a href="/search" class="nav-link">Search</a>
            <li><a href="/ads_details" class="nav-link">Ads Status</a>
            <li><a href="/logout" class="nav-link">Logout</a>
        </ul>
    </nav>

    <h1>View Campaign</h1>
    <div class="campaign card container">
        <h2>{{ campaign.name }}</h2>
        <p>{{ campaign.description }}</p>
        <p>Start Date: {{ campaign.start_date }}</p>
        <p>End Date: {{ campaign.end_date }}</p>
        <p>Budget: {{ campaign.budget }}</p>
        <p>Visibility: {{ campaign.visibility }}</p>
        <p>Campaign ID: {{ campaign.id }}</p>
    </div>
    <button><a href="{{ url_for('campaigns') }}">Back to Campaigns</a></button>
</body>
</html>